<!-- Section Book Start -->
<section class="book" id="book">
    <div class="container">

        <div class="main-text">
            <h1 class="text-center m-5 font-monospace fw-bolder"><span class="text-warning">EDIT P</span>user</h1>
        </div>
        <nav class="navbar navbar-expand-lg" id="navbar">
            <div class="container">
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="text-drak" style="text-decoration: none;" href="/products/list">
                                <button class="btn btn-warning text-light"><i class="fa-solid fa-less-than"></i> Previous</button>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <div class="row">

            <div class="col-md-3 py-3 py-md-0">

            </div>

            <div class="col-md-6 py-3 py-md-0">
                <form action="edit" method="post">
                    <input type="hidden" name="id" value="{{ data._id }}">

                    <input type="text" class="form-control shadow bg-body rounded" placeholder="Product Name" name="username" value="{{data.username}}"
                        required><br>
                    <input type="numer" class="form-control shadow bg-body rounded" name="password" value="{{data.password}}"><br>
                    <button type="submit" class="btn btn-warning fw-bolder text-light" required>Edit</button>

                </form>
            </div>

            <div class="col-md-3 py-3 py-md-0">

            </div>
        </div>
    </div>
</section>
<!-- Section Book End -->
