<!-- Section Book Start -->
<section class="book" id="book">
    <div class="container">

        <div class="main-text">
            <h1 class="text-center m-5 font-monospace fw-bolder"><span class="text-warning">EDIT </span>user</h1>
        </div>


        <div class="row">

            <div class="col-md-3 py-3 py-md-0">

            </div>

            <div class="col-md-6 py-3 py-md-0">
                <form action="/users/edit/{{data._id}}" method="post">

                    <input type="text" class="form-control shadow bg-body rounded" placeholder="Product Name"
                        name="username" value="{{data.username}}" disabled required><br>
                    <input type="text" class="form-control shadow bg-body rounded" name="password"
                        value="{{data.password}}"><br>
                    <input type="radio"  name="isuser" value="isadmin" required>Admin<br>
                    <input type="radio"  name="isuser" value="isuser" required>User<br>
                    <button type="submit" class="btn btn-warning fw-bolder text-light" required>Edit</button>

                </form>
            </div>

            <div class="col-md-3 py-3 py-md-0">

            </div>
        </div>
    </div>
</section>
<!-- Section Book End -->