<div class="container  mt-4 mb-4 p-5 d-flex justify-content-center">
    <div class="card p-4">
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-secondary"> <img
                    src="https://i.pinimg.com/236x/01/5c/8f/015c8f48c82525f09172d20a43bb178d.jpg" height="100"
                    width="100" />
            </button>
            <span class="mt-3">Username: {{ data.username }}</span> 
            <span class="">Password: {{data.password}}</span>
            <div class="text mt-3 "> 
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4C4XtDQDRziTY0QwTQGmDzkwGR4B9Z6zh2Q&usqp=CAU" alt="">
            </div>
        </div>
    </div>
</div>