<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <a class="text-drak" style="text-decoration: none;" href="/">
                <button class="btn btn-warning text-light"><i class="fa-solid fa-less-than"></i>
                    Previous</button>
            </a>
            <div class="col col-lg-9 col-xl-7">

                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <img src="/images/{{data.image}}" alt="1" class="img-fluid img-thumbnail mt-4 mb-2"
                                style="width: 150px; z-index: 1">
                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h2>{{ data.title }}</h2>
                            <p>{{ data.name }}</p>
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">
                            </p>
                            <div class="p-2" style="background-color: #f8f9fa;">
                                <p class="font-italic mb-1 font-weight h3 text-danger">The remaining product {{ data.quantity }}</p>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col mb-2">
                                <img src="https://cutewallpaper.org/21/lbx-wallpaper/LBX-Fanart-page-2-Zerochan-Anime-Image-Board.jpg"
                                    alt="image 1" class="w-100 rounded-3">
                            </div>
                            <div class="col mb-2">
                                <img src="https://wallpaperaccess.com/full/5069436.jpg"
                                    alt="image 1" class="w-100 rounded-3">
                            </div>
                        </div>
                        <input class="btn btn-warning" type="submit" value="Add to cart">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>